<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Email Verification.</title>
	</head>
	<body>
		<div class="app font-sans min-w-screen min-h-screen bg-grey-lighter py-8 px-4">
			<div class="max-w-md mx-auto">
				<div class="bg-white p-8 shadow-md">

					<div class="text-center tracking-wide border-b">
						<h1 class="text-3xl h-48 flex items-center justify-center">E-mail Confirmation</h1>
					</div>

					<div class="py-8 border-b">
						<p>
							Hey,
							<br><br>It looks like you just signed up for our Web, that’s awesome! Can we ask you for email confirmation? Just click the button bellow.
						</p>
						<a href="{{ signedUrl }}">
							<button class="text-white text-sm tracking-wide bg-red rounded w-full my-8 p-4 ">CONFIRM EMAIL ADRESS</button>
						</a><p>
							This link will expire in
							{{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
						</p>
						
					</div>
					<div class="mt-8 text-center text-grey-darker">
						<h3 class="text-base sm:text-lg mb-4">Thanks for consider us!</h3>
					</div>
				</div>

				<div class="text-center text-sm text-grey-darker mt-8">

					<div class=" flex justify-center my-4">
						<a href="#" class="flex items-center justify-center mr-4 bg-black text-white rounded-full w-8 h-8 no-underline">
							<i class="fab fa-facebook-f"></i>
						</a>
						<a href="#" class="flex items-center justify-center mr-4 bg-black text-white rounded-full w-8 h-8 no-underline">
							<i class="fab fa-instagram"></i>
						</a>
						<a href="#" class="flex items-center justify-center bg-black text-white rounded-full w-8 h-8 no-underline">
							<i class="fab fa-twitter"></i>
						</a>
					</div>
					<p>
						Cheers! And Keep it green.
					</p>
				</div>
			</div>
		</div>
	</body>
</html>
