{% extends 'base.html.twig' %}

{% block title %}Edit Direction{% endblock %}

{% block body %}
    <h1>Edit Direction</h1>

    {{ include('direction/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('direction_index') }}">back to list</a>

    {{ include('direction/_delete_form.html.twig') }}
{% endblock %}
