{% extends 'base.html.twig' %}

{% block body %}
<div class="inline-block align-middle space-y-4">
    <h1 class="font-bold">Create new Product</h1>
    {{ include('product/_form.html.twig') }}
    </div>
{% endblock %}
