@tailwind base;
@tailwind components;
@tailwind utilities;


.btn {
    @apply text-white font-bold rounded-lg mx-2 my-1;
}
  
.btn-cancel {
    @apply whitespace-nowrap py-2 px-2 bg-gradient-to-tl from-red-400 via-red-500 to-red-600 hover:from-red-500 hover:to-red-600 hover:to-red-700 rounded transition duration-300;
}
  
.btn-accept {
    @apply whitespace-nowrap py-2 px-2 bg-gradient-to-tl from-green-400 via-green-500 to-green-600 hover:from-green-500 hover:via-green-600 hover:to-green-700 rounded transition duration-300 text-white font-bold;
}

.btn-return {
    @apply whitespace-nowrap py-2 px-2 bg-gradient-to-tl from-blue-400 via-blue-500 to-blue-600 hover:from-blue-500  hover:via-blue-600 hover:to-blue-700 rounded transition duration-300 text-white font-bold;
}

.font-fill {
    font-size: 1vw;
}

.font-fill-3\/2 {
    font-size: 1.5vw;
}

.font-fill-2 {
    font-size: 2vw;
}

.font-fill-3 {
    font-size: 3vw;
}

.font-fill-4 {
    font-size: 4vw;
}

.font-fill-5 {
    font-size: 5vw;
}

.font-fill-2 {
    font-size: 2vw;
}


/**Checbox */
input:checked + svg {
    display: block;
}

/*Hero patter*/
.hero-pattern{
    background-color: #f6f6f6;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%23d5e5d0' fill-opacity='0.4' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");
}

.slide:hover {
    flex: 5;
}

.input-text{
    @apply shadow appearance-none bg-gray-200 border rounded w-full border-gray-200 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-gray-500;
}

.hide-5 {
    -moz-animation: cssAnimation 0s ease-in 5s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 5s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 5s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
    0%   {opacity: 1;}
    50%  {opacity: 0.5;}
    100% {opacity: 0;}
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
    0%   {opacity: 1;}
    50%  {opacity: 0.5;}
    100% {opacity: 0;}
}

/* Hide arrows for input number*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

