{% extends 'base.html.twig' %}

{% block title %}New Client
{% endblock %}

{% block body %}

	<div class="relative transform m-2">
		<div class="m-0 m-auto w-full lg:w-2/5 md:w-2/3">
			<form method="post">
				<div class="shadow-md rounded px-8 pt-6 pb-8 mb-4 flex flex-col">
					{{ include('client/_form.html.twig') }}
				</div>
				<button class="float-right btn btn-accept">{{ button_label|default('Create') }}</button>
			</form>

		</div>
	</div>


{% endblock %}
