{% extends 'base.html.twig' %}

{% block title %}New ShowCaseProject{% endblock %}

{% block body %}
    <h1>Create new ShowCaseProject</h1>

    {{ include('show_case_project/_form.html.twig') }}

    <a href="{{ path('show_case_project_index') }}">back to list</a>
{% endblock %}
